# HTTP Configuration
RCH__HTTP_HOST=127.0.0.1
RCH__HTTP_PORT=8080

# Email Verification Configuration
RCH__BACKEND_NAME=backend-dev
RCH__HELLO_NAME=localhost
RCH__FROM_EMAIL=hello@localhost
RCH__SMTP_TIMEOUT=45

# Security
RCH__HEADER_SECRET=
RCH__SENTRY_DSN=

# Webdriver (for headless verification)
RCH__WEBDRIVER_ADDR=http://localhost:9515

# Storage (Postgres)
RCH__STORAGE__TYPE=postgres
RCH__STORAGE__DB_URL=postgresql://localhost/reacherdb

# Worker Configuration (RabbitMQ)
RCH__WORKER__ENABLE=false
RCH__WORKER__RABBITMQ__URL=amqp://guest:guest@localhost:5672
RCH__WORKER__RABBITMQ__CONCURRENCY=5

# Throttle Configuration
RCH__THROTTLE__MAX_REQUESTS_PER_SECOND=
RCH__THROTTLE__MAX_REQUESTS_PER_MINUTE=60
RCH__THROTTLE__MAX_REQUESTS_PER_HOUR=1000
RCH__THROTTLE__MAX_REQUESTS_PER_DAY=10000

# Logging
LOG_LEVEL=info
NODE_ENV=development
